#hidden-img {
	display: none;
	height: 200px; 
	left: 0px; 
	position: absolute; 
	top: 0px; 
	width: auto; 
}

#hidden-object {
	display: none;
	height: 100px; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: auto; 
}

#intro {
	border: 2px solid #222;
	border-radius: 5px;
	color: #222;
	font-size: 1.3em;
	padding: 10px;
	position: absolute;
	top: 35%;
	background-color: #5c6672;
	overflow: auto;
}

#play-again {
	background-color: #444; 
	color: white; 
	display: none;
	font-size: 30px; 
	width: 200px; 
	height: 100px; 
}

#start {
	border-top: none;
	border-left: none;
	height: 75px;
	width: 75px;
	border-radius: 75px;
	background-color: #009933;
	position: absolute;
	bottom: 5%;
	right: 5%;
}

#start:hover, #start:active {
	border: 2px solid white;
}

#target {
	color: white; 
	height: 1px; 
	margin: 0;
	position: relative; 
	left: -200px; 
	top: -200px; 
	width: 1px;
}

.hide-text {
	opacity: 0;
}

.hidden {
	left: 50%;
	width: 0%;
}

.show-text {
	opacity: 1;
	transition: opacity 1s ease-in;
}

.visible {
	left: 25%;
	height: 30%;
	width: 50%;
	transition: left .5s ease, width .5s ease;
}

