#target {
	color: white; 
	height: 1px; 
	margin: 0;
	position: relative; 
	left: -200px; 
	top: -200px; 
	width: 1px;
}

#hidden-img {
	display: none;
	height: 200px; 
	left: 0px; 
	position: absolute; 
	top: 0px; 
	width: auto; 
}

#hidden-object {
	display: none;
	height: 100px; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 100px; 
}

#play-again {
	background-color: #444; 
	color: white; 
	display: none;
	font-size: 30px; 
	width: 200px; 
	height: 100px; 
}